*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #228066;
}  

  .topnav a {
    line-height: 1;
    background-color: #004e42;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 1.5vh 3vh;
    text-decoration: none;
    font-size: 3vh;
  }
  
  .topnav a:hover {
    background-color: #003a2c;
    color: #ffffff;
  }

  .nav-logo{
    background-color: #004e42;
    height: 6vh;
    vertical-align: middle; 
    float: left; 
  }

.hero-image{
    background-image: url("../CHESS_IMAGES/long chess.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.two-column1{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  color: white;
  align-items: center;
}

.two-column2{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  color: white;
  align-items: center;
}

.image{
  border-radius: 1.5vh;
  margin: auto;
}

.text1{
  background-color: #004e42;
  padding: 3vh;
  border-radius: 1.5vh;
  font-size: 30px;
}

.text2{
  background-color: #004e42;
  padding: 3vh;
  border-radius: 1.5vh;
  font-size: 15px;
}

.thebig{
  line-height: 12345px;
}